html {
  scroll-padding-top: 180px; /* height of sticky header when collapsed*/
  scroll-behavior: smooth !important;
}

@media only screen and (min-width: 576px) {
  html {
    scroll-padding-top: 80px; /* height of sticky header */
  }
}
body {
  text-align: center;
  font-family: "Lato";
  background-color: #FFF;
  font-size: 100%;
}

p {
  width: 100%;
  margin: 0 auto 15px auto;
  letter-spacing: 0.8px;
  color: #374151;
}

@media only screen and (min-width: 768px) {
  p {
    width: 85%;
  }
}
li {
  list-style-type: none;
}

li, .navbar {
  letter-spacing: 0.8px;
}

@media only screen and (min-width: 768px) {
  body {
    text-align: left;
  }
  p {
    width: 100%;
  }
}
h1 {
  font-size: 3rem;
}

h1, h2, h3, h4 {
  font-weight: 900;
  color: #262220;
  padding-bottom: 7.5px;
}

@media only screen and (max-width: 576px) {
  h1 {
    margin-bottom: 15px;
  }
}
h4 {
  letter-spacing: 0.5px;
}

.fa-brands {
  color: #183153;
}

@media screen and (max-width: 576px) {
  .fa-brands {
    font-size: 2rem;
  }
}
.highlight-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #F4F4F4;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1019607843);
  border-top: 0.5px solid rgba(0, 0, 0, 0.1019607843);
}

.container {
  margin-top: 30px;
}

.navbar {
  background-color: #facf0f;
  margin-bottom: 55px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  margin: 10px;
}

.navbar-toggler:hover {
  background-color: #FFF;
}

.navbar-brand, .nav-link {
  color: #262220;
  font-weight: 700;
}

.nav-link {
  wrap: nowrap;
}

@media only screen and (min-width: 576px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hover-stroke {
    position: relative;
    transition: all 0.6s;
  }
  .hover-stroke:after, .hover-stroke:before {
    transition: all 0.6s;
  }
  .hover-stroke:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #262220;
    height: 1.5px;
    text-align: left;
  }
  .hover-stroke:hover {
    color: #262220;
  }
  .hover-stroke:hover:after, .hover-stroke:hover:after {
    width: 100%;
  }
}
.hero-container {
  padding-bottom: 180px;
}

@media only screen and (min-width: 992px) {
  .hero-container p {
    width: 60%;
    margin: 15px 0;
  }
}
.content-box {
  padding-top: 20px;
  margin: 20px auto 0px auto;
  border-left: 0.5px solid rgba(0, 0, 0, 0.1019607843);
  border-right: 0.5px solid rgba(0, 0, 0, 0.1019607843);
  border-top: 0.5px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 16px;
  width: 95%;
  background-color: white;
}

.content-box--wrapper {
  margin-bottom: 15px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.1019607843);
}

@media only screen and (min-width: 768px) {
  .content-box--wrapper {
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.content-box--image-wrapper img {
  width: 90%;
}

.content-box--btn-wrapper {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .content-box--btn-wrapper {
    margin-bottom: 0;
  }
}
.content-box--btn-list {
  flex-wrap: wrap;
  padding-left: 0;
}

.content-box--btn-list li {
  margin-top: 15px;
}

.content-box--btn-list li a {
  padding: 6px 20px;
  color: #FFF;
  background-color: #262220;
  font-weight: 600;
  font-size: 1.05rem;
  margin-right: 5px;
  border-radius: 0.25rem;
  width: 140px;
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (min-width: 576px) {
  .content-box--btn-list li a {
    transition: 0.5s ease-in-out;
  }
  .content-box--btn-list li a:hover {
    background-color: #facf0f;
    color: #111;
    text-decoration: none;
    transform: translate(1px, -1px);
  }
}
@media only screen and (min-width: 576px) {
  .content-box--btn-list li a {
    transition: 0.5s ease-in-out;
  }
  .content-box--btn-list li a:hover {
    background-color: #facf0f;
    color: #111;
    text-decoration: none;
    transform: translate(1px, -1px);
  }
}

/*# sourceMappingURL=main.css.map */
